.error-message {
    color: red;
}

.flex-container {
    display: flex;
}

.parcentages {
    width: 50%;
    display: flex;
    align-items: center;
}

.parcentages ul {
    width: 90%;
}

.item-0 {
    color: rgb(255, 145, 66);
}

.item-1 {
    color: rgb(100, 100, 100);
}

.item-2 {
    color: rgb(4, 111, 241)
}

.chart {
    width: 50%;
    height: 150px;
}